@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --text: #364458;
    --text-light: #5B7395;
    --label-light: #9FAEC6;
    --hover: #F2F4F7;
    --brand-green: #3EC4AB;
    --green-contrast: #07B09D;
    --green-contrast-text: #069382;
    --border: #85B0CB30;
    --border-light: #85B0CB20;
    --border-dark: #85B0CB60;
    --white: #ffffff;
    --bg-light: #F1F6FC;
    --bg-light-green: #E6FAEE;
}

* 
{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: var(--text);
  transition: 0.3s ease;
}

p
{
    margin-block-start: 0;
    margin-block-end: 0;
}

hr
{
    border: 1px solid hsl(204, 40%, 85%);
    border-width: 1px 0px 0px 0px;
    width: 100%;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

.content-wrapper 
{
    margin-inline: auto;
    max-width: 1200px; 
}

.card-wrapper
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.btn
{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 4px 12px;
    min-height: 38px;
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid transparent;
    background: transparent;
    cursor: pointer;

    & svg
    {
        --size: 16px;
        width: var(--size);
        height: var(--size);
        stroke: var(--green-contrast);
    }

    &.small
    {
        min-height: 32px;
    }
}

.btn.primary
{
    background: var(--green-contrast);
    border-color: transparent;
    color: var(--white);

    &:hover
    {
        background: var(--green-contrast-text);
    }
}

.btn.secondary
{
    background: #e6faee;
    border-color: #e6faee;

    &:hover
    {
        background: #ddf5e6;
        border-color: #ddf5e6;
    }
}

.btn.tertiary
{
    border: 2px solid var(--brand-green);

    & :hover
    {
        background: var(--green-contrast);
    }
}


/* dual Button ------------------------------------------------ */


.wrapper-dual-btn
{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    position: relative;
}

.wrapper-dual-btn .btn:first-of-type
    {
        border-radius: 4px 0px 0px 4px;
        border-right-color: transparent;
    }

.wrapper-dual-btn .btn:last-of-type
    {
        border-radius: 0px 4px 4px 0px !important;
        border-left-color: transparent;
        min-width: 38px;
    }

.wrapper-dual-btn .dropdown-wrapper
{
    left: 0;
    right: auto;
}



/* Stats Cards ------------------------------------------------ */

.stat-card
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    padding: 30px 30px 30px 20px;
    /* Styles */
    border-radius: 12px;
    border: 1px solid hsl(204, 40%, 85%);
    background: white;
    container-name: stat-card;
    container-type: inline-size;

    &:hover
    {
        border-color: transparent;
        box-shadow: 0px 1px 2px rgba(22, 39, 51, 0.10),
                    0px 2px 4px rgba(22, 39, 51, 0.10),
                    0px 0px 16px rgba(22, 39, 51, 0.10);
    }

    & .card-left
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        flex-grow: 1;
        height: 100%;
    }

    & .card-right
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 5px;
        flex-grow: 1;
        flex-shrink: 0;
        height: 100%;
        min-width: 18ch;
    }

    & .title
    {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 0.6ch;
    }

    & .description
    {
        font-size: 14px;
        opacity: 0.7;
        max-width: 36ch;
    }

    & label
    {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0.45;
    }
}

.stat-primary
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-align: right;

    & .percentage
    {
        font-size: 44px;
        line-height: 0.9;
    }

    & .variance
    {
        margin-bottom: 2px;
    }
}

.stat-icon svg
{
    --size: 16px;
    width: var(--size);
    height: var(--size);
    vertical-align: bottom;
    transform: rotate(22deg);
}

.positive 
{

    & .percentage
    {
        color: #3ec4ab;
    }

    & .stat-icon svg
    {
        stroke: #3ec4ab;
        transform: rotate(0deg);
    }
}

.negative {

    & .percentage
    {
        color: #9b0043;
    }

    & .stat-icon svg
    {
        stroke: #9b0043;
        transform: rotateX(180deg);
    }
}


.stat-secondary
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}


.actual-budget-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    font-size: 14px;
    line-height: 1;

    & label
    {
        margin-right: 5px;
        min-width: 14ch;
    }

}

@container stat-card (min-width: 600px){

    .card-right
    {
        justify-content: center !important;
        min-width: 50% !important;
    }

    .stat-primary .percentage
    {
        font-size: 64px;
        line-height: 0.9;
    }

    .actual-budget-wrapper
    {
        flex-direction: row;
    }

}


/* Toolbar ----------------------------------------  */

.input
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    position: relative;
    background: var(--white);
    font-size: 14px;
    max-width: 300px;
    min-width: 150px;

    & span
    {
        width: 100%;
    }

    & svg
    {
        --size: 16px;
        width: var(--size);
        height: var(--size);
        flex-shrink: 0;
        stroke: var(--green-contrast);
        stroke: var(--green-contrast);
    }
}

.select
{
    padding: 4px 12px;
    min-height: 32px; 
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10),
                0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.select.active
{

    & .feather-chevron-down
    {
        rotate: 180deg;
    }
}


.dropdown-wrapper
{
    position: absolute;
    top: 40px;
    right: 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;
    padding: 12px 0px;
    background: var(--white);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06),
                0px 0px 4px 0px rgba(0, 0, 0, 0.06),
                0px 4px 12px 0px rgba(0, 0, 0, 0.06);
    min-width: 250px;
    z-index: 10;
}

    .dropdown-wrapper.align-left
    {
        right: auto;
        left: 0 !important;
    }


.menuItem
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    color: var(--text);
    font-size: 14px;

    &:hover
    {
        background: var(--hover);
    }

    & hr
    {
        margin: 8px 0px;
        border: 1px solid var(--border);
    }
}

.menuItem.active
    {
        background: var(--bg-light-green);
    }

.menuButton
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 12px;
}

.dropdown-wrapper.active
{
    top: 34px;
    opacity: 1;
    pointer-events: auto;
}


.division-wrapper
{
    position: relative;
    width: fit-content ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;

    & .center-arrow
    {
        --size: 24px;
        width: var(--size);
        height: var(--size);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border-radius: 999px;
        border: 1px solid var(--border);
        background: var(--white);
    }

    & .center-arrow svg
    {
        --size: 14px;
        width: var(--size);
        height: var(--size);
        stroke: var(--text-light);
    }

    & .input
    {
        width: 200px;
    }

    & .left
    {
        border-radius: 4px 0px 0px 4px;
        padding-right: 20px;
    }

    & .right
    {
        border-radius: 0px 4px 4px 0px;
        padding-left: 20px;
    }

    & span
    {
        width: 100%;
    }
    
}


